/* navbar section */
#navbar 
{
    flex-direction: column;
}
/* services section */

#services
{
    flex-direction: column;
}
/* home section */
#home 
{
   height: 370px;
   padding: 3px 68px;
   
}
#home::before{
    height: 480px;

}
